<br/>
<h2>Get your weather Information</h2>
<br/>
<div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">City</span>
    <input type="text" [(ngModel)]="city" class="form-control" placeholder="Enter your city here" aria-describedby="basic-addon1">
  </div>
  <br/>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">State</span>
    <input type="text" [(ngModel)]="state" class="form-control" placeholder="Enter your state here" aria-describedby="basic-addon1">
  </div>
  <br/>
  <button type="button" class="btn btn-primary" (click)="callWeatherService()">Submit</button>
  <br/>
  <br/>
  <div class="jumbotron">
    <!--<p><i class="fa fa-thermometer-empty" aria-hidden="true"></i>Temperature: {{temperature || 0 }} F</p>-->
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <div class="panel panel-default weather-panel">
          <div class="panel-heading">Current weather<br><small id="currentTime" class="supersmall"></small></div>
          <div class="row">
            <div class="col-sm-6 wi" id="currentIcon"></div>
            <div class="col-sm-6" style="padding: 0px;">
              <h1 class="temp"><span id="currentTemperature">{{temperature || 0 }}</span><span>°</span></h1>
              <small id="currentSummary">{{condition}}</small>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12"><span></span><br>
              <span>Wind Speed: </span><span id="currentWind">{{wind}}</span><span> mph(s)</span><br>
              <span id="hourlySummary"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ul class="jumbotron list-group clear-fix" *ngFor="let forecast of forecasts">
    <li class="list-group-item">{{forecast.day}} - {{forecast.date}}</li>
    <li class="list-group-item">Temperature: {{forecast.low}} ~ {{forecast.high}}</li>
    <li class="list-group-item">condition: {{forecast.text}}</li>
  </ul>
</div>